@using TreinaWeb.TestAspNetMvc.Models
@model Person
<head>
    <link rel="stylesheet" href="~/css/greetings.css" />
</head>
@{
    ViewBag.Title = "Greetings";
}

<h2>Greetings</h2>

<p>Hello, welcome @Model.Name!</p>
@Html.LabelFor(p => p.Age) is @Model.Age years old, right? 
And @Html.LabelFor(p => p.City, new { @class = "lowercase" }) is @Model.City, cool!

