@using TreinaWeb.TestAspNetMvc.Models
@model Person
<head>
    <link rel="stylesheet" href="~/css/greetings.css" />
</head>
@{
    ViewBag.Title = "Greetings";
}

<h2>Greetings</h2>

<p>Hello, welcome @Model.Name!</p>
@Html.LabelFor(p => p.Age) is @Model.Age years old, right?<br />
@Html.LabelFor(p => p.City) is @Model.City, cool!<br />
And I'll sent you to @Html.LabelFor(p => p.Email, new { @class = "lowercase" }) (this one: @Model.Email) pretty soon!

