@page
@using TreinaWeb.TestAspNetMvc.Models
@model Person

@{
    ViewBag.Title = "Example";
}

<h2>Index</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{

    @Html.AntiForgeryToken()

<p>
    @Html.ValidationSummary(true)

    @Html.LabelFor(p => p.Name): &nbsp;&nbsp;
    @Html.EditorFor(p => p.Name, new { id = "txbName" })
    @Html.ValidationMessageFor(p => p.Name)
    <br />
    @Html.LabelFor(p => p.Age): &nbsp;&nbsp;
    @Html.EditorFor(p => p.Age, new { id = "txbAge" })
    @Html.ValidationMessageFor(p => p.Age)
    <br />
    @Html.LabelFor(p => p.City): &nbsp;&nbsp;
    @Html.EditorFor(p => p.City, new { id = "txbCity" })
    @Html.ValidationMessageFor(p => p.City)
    <br />
    @Html.LabelFor(p => p.Email): &nbsp;&nbsp;
    @Html.EditorFor(p => p.Email, new { id = "txbEmail" })
    @Html.ValidationMessageFor(p => p.Email)
    <br />
    <input type="submit" id="btnSubmit" value="Send" />
</p>
}