@page
@using TreinaWeb.TestAspNetMvc.Models
@model Person

@{
    ViewBag.Title = "Example";
}

<h2>Index</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
<p>
    @Html.LabelFor(p => p.Name): &nbsp;&nbsp;
    @Html.EditorFor(p => p.Name, new { id = "txbName" })

    <br />
    @Html.LabelFor(p => p.Age): &nbsp;&nbsp;
    @Html.EditorFor(p => p.Age, new { id = "txbAge" })
    <br />
    @Html.LabelFor(p => p.City): &nbsp;&nbsp;
    @Html.EditorFor(p => p.City, new { id = "txbCity" })
    <br />
    <input type="submit" id="btnSubmit" value="Send" />
</p>
}