@page
@using TreinaWeb.TestAspNetMvc.Models
@model Person

@{
    ViewBag.Title = "Example";
}

<h2>Index</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{

    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(p => p.Name)
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            @Html.EditorFor(p => p.Name, new { htmlAttributes = new { id = "txbName", @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.Name)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(p => p.Age)
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            @Html.EditorFor(p => p.Age, new { htmlAttributes = new { id = "txbAge", @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.Age)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
    @Html.LabelFor(p => p.City)
</div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            @Html.EditorFor(p => p.City, new { htmlAttributes = new { id = "txbCity", @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.City)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(p => p.Email)
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            @Html.EditorFor(p => p.Email, new { htmlAttributes = new { id = "txbEmail", @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.Email)
        </div>
    </div>

        <input type="submit" id="btnSubmit" value="Send" class="btn btn-primary"/>

        }
